
@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
	string Username = @HttpContextAccessor.HttpContext.Session.GetString("ReferenceId");
	var IsSubscribed = @HttpContextAccessor.HttpContext.Session.GetString("IsSubscribed");
	var isAdmin = @HttpContextAccessor.HttpContext.Session.GetString("RoleFK");
}
<!-- Start Dashboard Area -->
<div class="dashboard-area">
	<div class="container-fluid">
		<div class="dashboard-title-wrap">
			<div class="row align-items-center">
				<div class="col-lg-6 col-sm-6">
					<ul class="dashboard-page-title">
						<li>
							<a href="/dashboard">
								Home 
							</a>
						</li>
		
						<li class="active">Edit Profile</li>
					</ul>
				</div>
				<div class="col-lg-6 col-sm-6" style="text-align:right!important">
					@if(Username != null && IsSubscribed == "False")
					{
						<a href="javascript:void(0)" class="default-btn btn-subscribe rounded" style="background-color:#ea580c">
							Subscribe to get full access
						</a>
					}
				</div>
			</div>
		</div>

		<div class="edit-profile">
			<div class="information d-flex align-items-center">
				<img src="~/images/agents/user.png" class="img-thumbnail profile-pic" alt="Image">
						
				<div class="file-upload-account-info">
					<input type="file" name="file" id="file" class="inputfie">
					<label class="upload">
						<i class="ri-link"></i>
						Upload Your Images
					</label>
					<p>* Make sure to Save Changes after uploading your image.</p>
					<div class="col-lg-12">
						<button type="button" class=" float-start default-btn rounded btn-upload-picture">
							Upload Picture
						</button>
					</div>
				</div>
			</div>

			<form class="contact-information" id="profile-form">
				<h3>Contact Information</h3>
				<input type="hidden" class="catch_me" />
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							
							<label>First Name</label>
							<input type="text" class="form-control" placeholder="Dominoes" id="firstname" name="firstName" style="background-color:#e9ecef" disabled>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label>Last Name</label>
							<input type="text" class="form-control" placeholder="Society" id="lastname" name="lastName" style="background-color:#e9ecef" disabled>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label>Email</label>
							<input type="text" class="form-control" placeholder="dominoes@info.com" id="email" style="background-color:#e9ecef" disabled>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label>Phone</label>
							<input type="text" class="form-control" placeholder="" id="phone" name="phone" style="background-color:#e9ecef" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<label>Address</label>
							<input type="text" class="form-control" placeholder="8135 Walt Whitman Street Willingboro, NJ 08046" name="address" id="address" required>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label>Account Number</label>
							<input type="text" class="form-control" placeholder="" id="account" name="account">
						</div>
					</div><div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label>Bank Name</label>
							<input type="text" class="form-control" placeholder="" id="bank" name="bank">
						</div>
					</div>
					
					<div class="col-lg-12">
						<button type="button" class=" float-start default-btn rounded btn-update-profile">
							Save Change
						</button>
					</div>
				</div>
			</form>

			<form class="reset-password"id="password-form">
				<h3>Change Password</h3>

				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<label>Current Password</label>
							<input type="password" class="form-control" id="current" name="current-password" required placeholder="*********">
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label>New Password</label>
							<input type="password" class="form-control" id="password" name="password" required placeholder="*********">
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label>Confirm New Password</label>
							<input type="password" class="form-control" id="confirm" name="confirm-password"  required placeholder="*********">
						</div>
					</div>
					<div class="col-lg-12">
						<button type="submit" class="float-start default-btn rounded btn-change-password">Change Password</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- End Dashboard Area -->
<script>
	$(document).ready(() => {
		GetUserProfile("edit");
	});
</script>


