
@{
    ViewData["Title"] = "Investments";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<!-- Start Dashboard Area -->
	<div class="dashboard-area">
		<div class="container-fluid">
			<div class="dashboard-title-wrap mb-2">
				<div class="row align-items-center">
					<div class="col-lg-6 col-sm-6">
						<ul class="dashboard-page-title">
							<li>
								<a href="/dashboard">
									Dashboard 
								</a>
							</li>
		
							<li class="active">Investments</li>
						</ul>
					</div>
					<div class="col-lg-6 col-sm-6">
						
					</div>
				</div>
			</div>

			<div class="my-listing">
				<div class="latest-lavel">
					<div class="row align-items-center">
						
					</div>
				</div>

				<div class="row" id="investments">

				</div>
			</div>
		</div>
	</div>
	<!-- End Dashboard Area -->
	<script>
		$(document).ready(() =>{
			GetInvestments();
		})
	</script>