
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
	string Username = @HttpContextAccessor.HttpContext.Session.GetString("ReferenceId");
	var IsSubscribed = @HttpContextAccessor.HttpContext.Session.GetString("IsSubscribed");
	var isAdmin = @HttpContextAccessor.HttpContext.Session.GetString("RoleFK");
}

<!-- Start Dashboard Area -->
		<div class="dashboard-area">
			<div class="container-fluid">
				<div class="dashboard-title-wrap">
					<div class="row align-items-center">
						<div class="col-lg-6 col-sm-6">
							<ul class="dashboard-page-title">
								<li>
									<a href="dashboard.html">
										Home 
									</a>
								</li>
		
								<li class="active">My Profile</li>
							</ul>
						</div>

						<div class="col-lg-6 col-sm-6" style="text-align:right!important">
							@if(Username != null && IsSubscribed == "False")
							{
								<a href="javascript:void(0)" class="default-btn btn-subscribe rounded" style="background-color:#ea580c">
									Subscribe to get full access
								</a>
							}
						</div>
						
					</div>
				</div>

				<div class="my-profile">
					<div class="row">
						<div class="col-md-12 d-flex justify-content-end">
							<a href="#" class="default-btn rounded">Fund Wallet</a>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-12 col-sm-6">
							
							<div class="single-interface-card">
								<p>Your Wallet Balance</p>
								<h2>&#8358;0</h2>
								<i class="ri-refund-2-fill"></i>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<div class="my-profile-img">
								<img src="~/images/agents/user.png" class="img-thumbnail" alt="Image">
								
								<a asp-controller="Dashboard" asp-action="EditProfile" class="default-btn">
									Edit Profile
								</a>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="my-profile-content">
								<ul id="profile">
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Dashboard Area -->
<script>
	$(document).ready(() => {
		GetUserProfile('profile');
	});
</script>


