<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <location path="." inheritInChildApplications="false">
        <system.web>
            <httpRuntime enableVersionHeader="false"/>
        </system.web>
        <system.webServer>
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
            </handlers>
            <aspNetCore processPath="dotnet" arguments=".\DominoesProperties.dll" stdoutLogEnabled="false"
                        stdoutLogFile=".\log" hostingModel="OutOfProcess"/>
            <security>
                <requestFiltering removeServerHeader="true"/>
            </security>
            <httpProtocol>
                <customHeaders>
                    <remove name="X-Powered-By"/>
                    <add name="X-Frame-Options" value="DENY"/>
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
</configuration>