
@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Page Title Area -->
<div class="page-title-area bg-7">
	<div class="container">
		<div class="page-title-content">
			<h2>Single Blog</h2>

			<ul>
				<li>
					<a href="/">
						Home
					</a>
				</li>

				<li class="active">Single Blog</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Page Title Area -->

<!-- Start Blog Details Area -->
<div class="blog-details-area ptb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<div class="blog-details-content">
					<img src="~/images/blog/blog-1.jpg" id="blogImg" alt="Image">
					<ul class="user">
						<li>
							<i class="ri-calendar-line"></i>
							<span id="blogDate"></span>
						</li>
					</ul>

					<h3 id="title"></h3>
					<div id="content"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Blog Details Area -->
<script>
	$(() => {
		getBlogDetail();
	})
</script>

