
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Page Title Area -->
<div class="page-title-area bg-6">
	<div class="container">
		<div class="page-title-content">
			<h2>Blog</h2>

			<ul>
				<li>
					<a href="/">
						Home
					</a>
				</li>

				<li class="active">Blog</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Page Title Area -->
<!-- Start Blog Area -->
<div class="blog-area ptb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<div class="row blog">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Blog Area -->
<script>
	$(() => {
		Blogs();
	})
</script>