
@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Page Title Area -->
<div class="page-title-area bg-7">
	<div class="container">
		<div class="page-title-content">
			<h2>Single Blog</h2>

			<ul>
				<li>
					<a href="index-2.html">
						Home
					</a>
				</li>

				<li class="active">Single Blog</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Page Title Area -->
<!-- Start Blog Details Area -->
<div class="blog-details-area ptb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="blog-details-content">
					<img src="~/images/blog/blog-1.jpg" alt="Image">
					<ul class="user">
						<li>
							<img src="~/images/blog/user-1.jpg" alt="Image">
							<a href="blog-details.html">By Adam Smith</a>
						</li>
						<li>
							<i class="ri-calendar-line"></i>
							By Adam Smith
						</li>
						<li>
							<i class="ri-chat-2-line"></i>
							<a href="blog-details.html">(0) Comment</a>
						</li>
					</ul>

					<h3>Some Rules Of Property Buy And Sale</h3>
					<p>Donec rutrum congue leo eget malesuada. Sed porttitor lectus nibh. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat. Sed porttitor lectus nibh.Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
					<p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
					<p>Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada.</p>
					<blockquote>
						<i class="ri-double-quotes-r"></i>
						<p>“Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Pellentesque in ipsum id orci porta dapibus. Donec rutrum congue leo eget malesuada.”</p>
					</blockquote>
					<p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
					<p>Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada.</p>

					<div class="tag-sshare">
						<div class="row">
							<div class="col-lg-8">
								<ul class="tags">
									<li>
										<span>Tags:</span>
									</li>
									<li>
										<a href="blog-details.html">Real estate,</a>
									</li>
									<li>
										<a href="blog-details.html">Apartments,</a>
									</li>
									<li>
										<a href="blog-details.html">Home,</a>
									</li>
									<li>
										<a href="blog-details.html">Flat,</a>
									</li>
									<li>
										<a href="blog-details.html">Property,</a>
									</li>
									<li>
										<a href="blog-details.html">Room</a>
									</li>
								</ul>
							</div>

							<div class="col-lg-4">
								<div class="share-opt">
									<div class="share-btn">
										<span>Share:</span>
										<i class="ri-share-fill"></i>
									</div>

									<ul>
										<li>
											<a href="https://facebook.com/" target="_blank">
												<i class="ri-facebook-fill"></i>
											</a>
										</li>
										<li>
											<a href="https://twitter.com/" target="_blank">
												<i class="ri-twitter-fill"></i>
											</a>
										</li>
										<li>
											<a href="https://linkedin.com/" target="_blank">
												<i class="ri-linkedin-fill"></i>
											</a>
										</li>
										<li>
											<a href="https://instagram.com/" target="_blank">
												<i class="ri-instagram-line"></i>
											</a>
										</li>
										<li>
											<a href="https://youtube.com/" target="_blank">
												<i class="ri-youtube-fill"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="leave-form">
						<h3>Leave A Reply</h3>
						<p>Your email address will not be published. Required fields are marked *</p>

						<form>
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label>Name*</label>
										<input type="text" class="form-control">
									</div>
								</div>

								<div class="col-lg-6">
									<div class="form-group">
										<label>Email*</label>
										<input type="email" class="form-control">
									</div>
								</div>

								<div class="col-lg-12">
									<div class="form-group">
										<label>Your Website Link</label>
										<input type="text" class="form-control">
									</div>
								</div>

								<div class="col-lg-12">
									<div class="form-group">
										<label>Your Comment</label>
										<textarea name="message" class="form-control" id="message" rows="6"></textarea>
									</div>
								</div>

								<div class="col-lg-12">
									<div class="form-group">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-1">
											<label class="form-check-label" for="flexCheckDefault-1">
												Save my name and email in this browser for the next time I comment.
											</label>
										</div>
									</div>
								</div>

								<div class="col-lg-12">
									<div class="form-group mb-0">
										<button type="submit" class="default-btn">Post a comment</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="widget-sidebar ml-15">
					<div class="sidebar-widget src-forms">
						<form class="src-form">
							<input type="text" class="form-control" placeholder="Search...">
							<button class="src-btn">
								<i class="ri-search-line"></i>
							</button>
						</form>
					</div>

					<div class="sidebar-widget categories">
						<h3>Categories</h3>

						<ul>
							<li>
								<a href="single-blog.html">
									Real Estate
									<span>(10)</span>
								</a>
							</li>
							<li>
								<a href="single-blog.html">
									Apartments
									<span>(09)</span>
								</a>
							</li>
							<li>
								<a href="single-blog.html">
									Real Homes
									<span>(06)</span>
								</a>
							</li>
							<li>
								<a href="single-blog.html">
									Business
									<span>(15)</span>
								</a>
							</li>
							<li>
								<a href="single-blog.html">
									Branding
									<span>(20)</span>
								</a>
							</li>
							<li>
								<a href="single-blog.html">
									Property
									<span>(11)</span>
								</a>
							</li>
						</ul>
					</div>

					<div class="sidebar-widget recent-post">
						<h3>Recent Posts</h3>

						<article class="item">
							<a href="single-blog.html" class="thumb">
								<span class="fullimage cover bg-1" role="img"></span>
							</a>
							<div class="info">
								<h4 class="title usmall">
									<a href="single-blog.html">House For Rent</a>
								</h4>
								<span class="date">
									<i class="ri-map-pin-fill"></i>
									666 E. Hilldale Court, MA 0999
								</span>
								<h5>$24000</h5>
							</div>
						</article>

						<article class="item">
							<a href="single-blog.html" class="thumb">
								<span class="fullimage cover bg-2" role="img"></span>
							</a>
							<div class="info">
								<h4 class="title usmall">
									<a href="single-blog.html">House For Sale</a>
								</h4>
								<span class="date">
									<i class="ri-map-pin-fill"></i>
									444 King Coachella, CA 22233
								</span>
								<h5>$90000</h5>
							</div>
						</article>
						<article class="item">
							<a href="single-blog.html" class="thumb">
								<span class="fullimage cover bg-3" role="img"></span>
							</a>
							<div class="info">
								<h4 class="title usmall">
									<a href="single-blog.html">House For Rent</a>
								</h4>
								<span class="date">
									<i class="ri-map-pin-fill"></i>
									991 Hill St. Clemmons, NC 77711
								</span>
								<h5>$35000</h5>
							</div>
						</article>
					</div>

					<div class="sidebar-widget tags">
						<h3>Tag</h3>

						<ul>
							<li>
								<a href="single-blog.html">
									Real Estate
								</a>
							</li>
							<li>
								<a href="single-blog.html">
									Apartments
								</a>
							</li>
							<li>
								<a href="single-blog.html">
									Property
								</a>
							</li>
							<li>
								<a href="single-blog.html">
									Home
								</a>
							</li>
							<li>
								<a href="single-blog.html">
									Flat
								</a>
							</li>
							<li>
								<a href="single-blog.html">
									Luxuary
								</a>
							</li>
							<li>
								<a href="single-blog.html">
									Room
								</a>
							</li>
							<li>
								<a href="single-blog.html">
									Business
								</a>
							</li>
							<li>
								<a href="single-blog.html">
									Parking
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Blog Details Area -->

