
@{
    ViewData["Title"] = "HowItWorks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .timeline {
      position: relative;
      width: 100%;
      max-width: 1140px;
      margin: 0 auto;
      padding: 15px 0;
    }

    .timeline::after {
      content: '';
      position: absolute;
      width: 2px;
      background: #334155;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -1px;
    }

    .container1 {
      padding: 15px 30px;
      position: relative;
      background: inherit;
      width: 50%;
    }

    .container1.left {
      left: 0;
    }

    .container1.right {
      left: 50%;
    }

    .container1::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: calc(50% - 8px);
      right: -8px;
      background: #ffffff;
      border: 2px solid #334155;
      border-radius: 16px;
      z-index: 1;
    }

    .container1.right::after {
      left: -8px;
    }

    .container1::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 2px;
      top: calc(50% - 1px);
      right: 8px;
      background: #334155;
      z-index: 1;
    }

    .container1.right::before {
      left: 8px;
    }

    .container1 .date {
      position: absolute;
      display: inline-block;
      top: calc(50% - 8px);
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      color: #334155;
      text-transform: uppercase;
      letter-spacing: 1px;
      z-index: 1;
    }

    .container1.left .date {
      right: -95px;
    }

    .container1.right .date {
      left: -105px;
    }

    .container1 .icon {
      position: absolute;
      display: inline-block;
      width: 40px;
      height: 40px;
      padding: 9px 0;
      top: calc(50% - 20px);
      background: #d05a15;
      border: 2px solid #334155;
      border-radius: 40px;
      text-align: center;
      font-size: 18px;
      color: #334155;
      z-index: 1;
    }

    .container1.left .icon {
      right: 56px;
    }

    .container1.right .icon {
      left: 56px;
    }

    .container1 .content {
      padding: 30px 90px 30px 30px;
      background: #d05a15;
      position: relative;
      border-radius: 0 500px 500px 0;
    }

    .container1.right .content {
      padding: 30px 30px 30px 90px;
      border-radius: 500px 0 0 500px;
    }

    .container1 .content h2 {
      margin: 0 0 10px 0;
      font-size: 18px;
      font-weight: normal;
      color: #fff;
    }

    .container1 .content p {
      margin: 0;
      font-size: 16px;
      line-height: 22px;
      color: #fff;
    }

    @@media (max-width: 767.98px) {
      .timeline::after {
        left: 90px;
      }

      .container1 {
        width: 100%;
        padding-left: 120px;
        padding-right: 30px;
      }

      .container1.right {
        left: 0%;
      }

      .container1.left::after, 
      .container1.right::after {
        left: 82px;
      }

      .container1.left::before,
      .container1.right::before {
        left: 100px;
        border-color: transparent #334155 transparent transparent;
      }

      .container1.left .date,
      .container1.right .date {
        right: auto;
        left: 15px;
        display: none;
      }

      .container1.left .icon,
      .container1.right .icon {
        right: auto;
        left: 146px;
      }

      .container1.left .content,
      .container1.right .content {
        padding: 30px 30px 30px 90px;
        border-radius: 500px 0 0 500px;
      }
    }
</style>

<!-- Start Page Title Area -->
		<div class="page-title-area bg-9">
			<div class="container">
				<div class="page-title-content">
					<h2>How it works</h2>
					
					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>

						<li class="active">How it works</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- End Listing Area -->
		<div class="listing-area">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="timeline">
                          <div class="container1 left">
                            <div class="date"> Register</div>
                            <i class="icon fa fa-home"></i>
                            <div class="content">
                              <h2>Coinvest</h2>
                              <p>
                                In the latter stage of co-investing, a waitlist for potential clients will be created.
                              </p>
                            </div>
                          </div>
                          <div class="container1 right">
                            <div class="date">Discover</div>
                            <i class="icon fa fa-gift"></i>
                            <div class="content">
                              <h2>Formamlise the property listing</h2>
                              <p>
                                Once fully funded or a quorum is achieved, the investment aggrement will be executed with all co-owners
                              </p>
                            </div>
                          </div>
                          <div class="container1 left">
                            <div class="date">Purchase</div>
                            <i class="icon fa fa-user"></i>
                            <div class="content">
                              <h2>Start earning income</h2>
                              <p>
                                The property  will be put on the market and launched for business.
                              </p>
                              <p>Watch out for the B2C platform that will host this.</p>
                            </div>
                          </div>
                          <div class="container1 right">
                            <div class="date">Reporting</div>
                            <i class="icon fa fa-running"></i>
                            <div class="content">
                              <h2>Shareholding & exit options</h2>
                              <p>
                               There is no lock-in period; we recommend a holding period of 6 years,but investors are free to exit at any point in time.
                              </p>
                              <p> You have three options: calling in a vote amongst your fellow investors to sell the property, 
                               bringing a buyer to takeover your shares or listing your shares on our secondary market for others to purchase.</p>
                            </div>
                          </div>
                          <div class="container1 left">
                            <div class="date">Get Paid</div>
                            <i class="icon fa fa-cog"></i>
                            <div class="content">
                              <h2>Lorem ipsum dolor sit amet</h2>
                              <p>
                                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
                              </p>
                            </div>
                          </div>
                          <div class="container1 right">
                            <div class="date">Manage <br>your <br />portfolio</div>
                            <i class="icon fa fa-certificate"></i>
                            <div class="content">
                              <h2>Lorem ipsum dolor sit amet</h2>
                              <p>
                                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
                              </p>
                            </div>
                          </div>
                        </div>
					</div>
                    <div class="col-md-12 ptb-100">
                        <h2 class="text-center">FAQ</h2>
                        <div class="tabs-wrap">
							<nav class="tabs-button">
								<div class="nav nav-tabs" role="tablist">
									<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-selected="true">
										General Questions
									</button>
								</div>
							</nav>
			
							<div class="tabs-content">
								<div class="tab-content">
									<div class="tab-pane fade show active" id="general" role="tabpanel">
										<div class="accordion" id="accordionExample">
											<div class="accordion-item">
												<h2 class="accordion-header" id="headingOne">
													<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
														What is the Return on Investment for this? 
													</button>
												</h2>
				
												<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
													<div class="accordion-body">
														<p>We do not guarantee fixed returns. The returns are is purely dependent on the rental income of the property; 
															however our goal is to have the properties averaging 70% occupancy rates each month. Your dashboard access will 
															show actual rates.</p>
													</div>
												</div>
											</div>
				
											<div class="accordion-item">
												<h2 class="accordion-header" id="headingTwo">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
														What are the different ways to earn income through RED?

													</button>
												</h2>
												<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
													<div class="accordion-body">
														<p>By investing in any of the options we list on the platform.</p>
				
														<div class="row">
															<div class="col-lg-12 col-md-12">
																<ul>
																	<li>Invest for rent: this applies to rental property services we will be offering. Depending on the instance or request, 
																		some will be bought outright and some will be rented; each investment offer will have these details specified.</li>
																	<li>Invest to hold: this applies to landed property we might be acquiring in mass (land banking)</li>
																	<li>Invest in related/ancillary service businesses that each investment property might need to offer a more holistic service experience e.g.
																		catering/Kitchen orders, laundry, mini mart and/or vehicular logistics </li>
																	<li>Please note and be reminded that all investments are hassle-free thus no hands on participation will be required except otherwise stated 
																		on the memo and/or where a single 3rd party subject matter expert is the investor </li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
				
											<div class="accordion-item">
												<h2 class="accordion-header" id="headingThree">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
														What is the RED Society all about?
													</button>
												</h2>
												<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
													<div class="accordion-body">
														<p>It is a tech-enabled, real estate investment platform that allows users to make fractional investments in a collection of high-yield rental properties and/or related services that are producing steady cash flow or capital appreciation.</p>
														<p>Fractions are stated per investment and can be for as small as 1% of the property and in multiples of that minimum investment size</p>
													</div>
												</div>
											</div>
				
											<div class="accordion-item">
												<h2 class="accordion-header" id="headingFour">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
														Who can invest with us?
													</button>
												</h2>
												<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
													<div class="accordion-body">
														<p>African residents, non-residents, institutions and interest groups can invest with us. As an institutional or interest group investor, it is imperative that all standard regulations are followed. Please contact us via admin@realestatedominoes.com to get assistance with this and other inquiries.</p>
													</div>
												</div>
											</div>
				
											<div class="accordion-item">
												<h2 class="accordion-header" id="headingFive">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
														Are you a regulated investment company?
													</button>
												</h2>
												<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
													<div class="accordion-body">
														<p>No, we are not – which is why all our investments are tagged members only with an annual membership fee. Our current legal structure and backing is via a registered Cooperative Multipurpose Society with name of Dominoes Society. The properties are independently managed by RED through a trusteeship for beneficial owners.</p>
													</div>
												</div>
											</div>
				
											<div class="accordion-item">
												<h2 class="accordion-header" id="headingSix">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
														How do I get started as an investor with you?
													</button>
												</h2>
												<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
													<div class="accordion-body">
														<p>We welcome your membership through the account creation process.</p>
														<p>To invest via the platform, you will have to be a financially compliant member. Visit www.realestatedominoes.com/registration
															- once all the details are filled out and the KYC is verified, you can start your investment journey with us.</p>
													</div>
												</div>
											</div>
				
											<div class="accordion-item">
												<h2 class="accordion-header" id="headingSeven">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
														As a financial member, am I restricted to a certain number of investments or volume?
													</button>
												</h2>
												<div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
													<div class="accordion-body">
														<p>No, you are not. You can invest in as many share units or property options as you see it and can afford to own. 
															**As an institutional or group investor, your registered administrator will be the one authorized to initiate such investments from the platform, 
															for payments you will have the option to make bank transfers in line 
															with corporate services where you will also need supporting documentation to compete your investment – a relationship manager will be available to assist.</p>
													</div>
												</div>
											</div>
											<div class="accordion-item">
												<h2 class="accordion-header" id="headingEight">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
														What documents do I get when I invest with you?
													</button>
												</h2>
												<div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
													<div class="accordion-body">
														<ul>
															<li>When you pick an investment, an e-invoice will be generated for you.</li>
															<li>When you have made payment, an e-receipt will be generated for you</li>
															<li>Upon confirmation of your investment, you will get an onboarding letter that confirms your investment and informs you of the key information associated to your investment.</li>
															<li>Upon successful completion of the co-investment (or when a quorum is met) all co-owners will be
																listed and added in the agreement as a registered co—owner and to what level they are invested (% of shares).</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="accordion-item">
												<h2 class="accordion-header" id="headingNine">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
														How do I get paid?
													</button>
												</h2>
												<div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
													<div class="accordion-body">
														<p>All dividend payments are made via the platform into your e-wallet and you can withdraw or reinvest them in another property</p>
														<p>Should you wish to save the dividend to allow it gain some more interest whilst waiting for the next investment of your choice, please click here to indicate </p>
													</div>
												</div>
											</div>
											<div class="accordion-item mb-0">
												<h2 class="accordion-header" id="headingTen">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
														What does my annual membership provide for me?
													</button>
												</h2>
												<div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
													<div class="accordion-body">
														<ul>
															<li>First and foremost, it’s your access pass to the community and platform without restriction. You also get access to further benefits not limited to.</li>
															<li>Investment deals and opportunities </li>
															<li>Industry trainings for free and at discounted rates.</li>
															<li>Discounts from partner companies</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                    </div>
				</div>
			</div>

		</div>
         <!-- Start FAQ Area -->
							@*<div class="faq-page-area ptb-100">
								<div class="container">
									
								</div>
							</div>*@
							<!-- End FAQ Area -->
        
		<!-- End Listing Area -->

      

