@{
    ViewData["Title"] = "Home";
}

<!-- Start Banner Area -->
<div class="banner-area bg-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="banner-content style-two">
                    <span class="top-title wow animate__animated animate__fadeInUp delay-0-2s">Invest in real estate</span>
                    <h1 class="wow animate__animated animate__fadeInUp delay-0-4s">Without breaking the bank</h1>
                    <p class="wow animate__animated animate__fadeInUp delay-0-6s">With less than N500k, you get to own a stake in serviced apartments, earning a quarterly income and gain appreciation on your capital yearly. And it takes less than 5 mins to sign up - you start now.</p>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="banner-rent-sale-form style-two wow animate__animated animate__fadeInUp delay-0-6s">
                    <form class="rent-sale-form wow animate__animated animate__fadeInUp delay-0-8s">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item style-two">
                                <span>Property Status:</span>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="for-sall-tab" data-bs-toggle="pill" data-bs-target="#for-sall" type="button" role="tab" aria-controls="for-sall" aria-selected="false">Search</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="for-rent" role="tabpanel" aria-labelledby="for-rent-tab">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="location" id="location" placeholder="Search properties in your location" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mb-0">
                                            <a href="#" class="default-btn btn-radius" onclick="filterProperty()">
                                                Search
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </form>

                    <p class="all-agents wow animate__animated animate__fadeInUp delay-0-8s">
                        <a asp-controller="Home" asp-action="properties">See All Properties</a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area -->

<!-- Start Can Help Area -->
<div class="can-help-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>See How Dominoes Society Can Help</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="single-can-help wow animate__animated animate__fadeInUp delay-0-2s">
                    <img src="~/images/can-help/can-help-1.png" alt="Image">
                    <h3>Community</h3>
                    <p style="text-align:justify">
                        Engagement & Networking is a highly sought after attribute by
                        investors and most especially when initiated with people of like-minds.
                        Aside from the discussions and peer learning we hope to be enjoyed in the community,
                        we would be honored to see other collaborations spring forth.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-can-help wow animate__animated animate__fadeInUp delay-0-4s">
                    <img src="~/images/can-help/can-help-2.png" alt="Image">
                    <h3>Learn real estate</h3>
                    <p style="text-align:justify">
                        Informed clients are always the best kind because even if they are not doing
                        business with you, they remain great ambassadors and change agents for the cause.
                        Our goal is not just to deal in real estate on your behalf but to also have you become
                        more enlightened about real estate and able to make informed choices that are smarter for you.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-can-help wow animate__animated animate__fadeInUp delay-0-6s">
                    <img src="~/images/can-help/can-help-3.png" alt="Image">
                    <h3>Access to viable investments </h3>
                    <p style="text-align:justify">
                        Finding good deals is not a common trait nor is it to be overlooked in the property
                        investment cycle. In our parent company, it’s the first of 3 steps to making the right
                        investment in real estate, and a paid service. Getting this within the community and for
                        fractional investing is in the very least a service valued at N1.5m per property
                    </p>
                </div>
            </div>

            @*<div class="col-lg-3 col-sm-6">
						<div class="single-can-help wow animate__animated animate__fadeInUp delay-0-8s">
							<img src="~/images/can-help/can-help-4.png" alt="Image">
							<h3>Source properties</h3>
							<p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec rutrum congue leo eget malesuada.</p>
						</div>
					</div>*@
        </div>
    </div>
</div>
<!-- End Can Help Area -->

<!-- Start Properties Area -->
<div class="properties-area bg-color-f8fafb ptb-100">
    <div class="container">
        <div class="properties-filter">
            <div class="section-title left-title">
                <h2>Recent Properties</h2>
            </div>
        </div>

        <div class="shorting">
            <div class="row" id="properties">

            </div>
        </div>
    </div>
</div>
<!-- End Properties Area -->

<!-- Start Why Choose Area -->
<div class="why-choose-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <div class="why-chooses-content">
                    <div class="wow animate__animated animate__fadeInUp delay-0-1s">
                        <h2>Why Chose Our Investment Options?</h2>
                        <p style="text-align:justify">We created this platform not because we wanted to but because there was a need for fractional share real estate investments that enabled the lower and middle class to not be excluded. That they are coming at a ‘more affordable’ opt-in cost does not make them any less viable; if we are being realistic, they might even be more profitable than those belonging to a single investor/owner in the long run. Who knows? Some other reasons why you should choose our investment options include:</p>
                    </div>

                    <ul>
                        <li class="wow animate__animated animate__fadeInUp delay-0-2s">
                            <i class="flaticon-insurance"></i>
                            <h3>Investment viability </h3>
                            <p style="text-align:justify">Because we are looking for property investments that will work for you, our vetting process includes not only their legality but also the business potential of it and for every property we accept to list, it would also be required to satisfy a minimum expected standard of service delivery which we will hold it accountable for.</p>
                        </li>
                        <li class="active wow animate__animated animate__fadeInUp delay-0-4s">
                            <i class="flaticon-commission"></i>
                            <h3>Rate of appreciation</h3>
                            <p style="text-align:justify">Easily one of the most overlooked factors by regular investors – this is not the case with us. In the rare occasion that we accept to list a property with a lower rate of appreciation, we would be armed with a secondary and medium range way to monetize the investment on your behalf.</p>
                        </li>
                        <li class="wow animate__animated animate__fadeInUp delay-0-6s">
                            <i class="flaticon-interest-rate"></i>
                            <h3>Property management</h3>
                            <p style="text-align:justify">This is one aspect of properties that is a continuously painstaking factor and as such we are not taking it for granted as it’s the fastest way for the cash flow to dry up – which is not our goal. Investment options we offer for co-investment will always have this as an integral component and on a professional basis.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="single-why-choose-item wow animate__animated animate__fadeInUp delay-0-6s">
                    <div class="why-choose-img">
                        <a href="#" id="property-img"></a>
                        <span>Featured</span>
                        <button type="submit" class="wishlist">
                            <i class="ri-heart-line"></i>
                        </button>
                    </div>
                    <div class="why-choose-content property">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Why Choose Area -->

<!-- Start Clients Say Area -->
<div class="client-say-area bg-color-fbf3f3 ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>What Our Clients Say</h2>
        </div>

        <div class="client-say-slide-two owl-carousel owl-theme">
            <div class="single-client-say">
                <div class="client-img">
                    <img src="~/images/agents/user.png" alt="Image">
                    <h3>Olubunmi</h3>
                    <span>Quantity Surveyor</span>
                </div>

                <p style="text-align:justify">“I got the update email and I am really glad I co-invested when I did – can’t wait for the unit to go live.”</p>

                <ul class="d-flex justify-content-between align-items-center">
                    <li>
                        <i class="ri-double-quotes-r quotes"></i>
                    </li>
                </ul>
            </div>

            <div class="single-client-say">
                <div class="client-img">
                    <img src="~/images/agents/user.png" alt="Image">
                    <h3>Kiki</h3>
                    <span>Small Business Owner</span>
                </div>

                <p style="text-align:justify">“**Screammmms!!! Thank you for impressing on me to get on board when I did. Seeing my capital grow without doing anything is exciting. Oya, tell the developer to move quicker – let’s start earning interest.”</p>

                <ul class="d-flex justify-content-between align-items-center">

                    <li>
                        <i class="ri-double-quotes-r quotes"></i>
                    </li>
                </ul>
            </div>

            <div class="single-client-say">
                <div class="client-img">
                    <img src="~/images/agents/user.png" alt="Image">
                    <h3>Bunmi</h3>
                    <span>Medical Practitioner</span>
                </div>

                <p style="text-align:justify">“Great investment deck!!! I particularly love how the opportunity for rental property investments are tied to community development as well. Let’s move into the next phase of this already. Turnkey coming to life.”</p>

                <ul class="d-flex justify-content-between align-items-center">

                    <li>
                        <i class="ri-double-quotes-r quotes"></i>
                    </li>
                </ul>
            </div>

            <div class="single-client-say">
                <div class="client-img">
                    <img src="~/images/agents/user.png" alt="Image">
                    <h3>Cynthia</h3>
                    <span>Project Development Associate</span>
                </div>

                <p style="text-align:justify">“Seeing how my initial capital has appreciated even before the property is completed was enlightening for me. Going from hearing about it to experiencing it has changed my perspective about investments – let’s go another round.”</p>

                <ul class="d-flex justify-content-between align-items-center">

                    <li>
                        <i class="ri-double-quotes-r quotes"></i>
                    </li>
                </ul>
            </div>
            <div class="single-client-say">
                <div class="client-img">
                    <img src="~/images/agents/user.png" alt="Image">
                    <h3>Stephen</h3>
                    <span>Engineering Consultant</span>
                </div>

                <p style="text-align:justify">“I always heard people say that investing in real estate is contagious – once u start, you almost can’t stop. Co-investing with you seems like the way I get to achieve that without breaking the bank. Job well done and thank you for doing this for us.”</p>

                <ul class="d-flex justify-content-between align-items-center">

                    <li>
                        <i class="ri-double-quotes-r quotes"></i>
                    </li>
                </ul>
            </div>
            <div class="single-client-say">
                <div class="client-img">
                    <img src="~/images/agents/user.png" alt="Image">
                    <h3>Mrs Ayowa</h3>
                    <span>Nurse</span>
                </div>

                <p style="text-align:justify">“Lerato thank you for always thinking of how to make real estate investing work and easier too.”</p>

                <ul class="d-flex justify-content-between align-items-center">

                    <li>
                        <i class="ri-double-quotes-r quotes"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Clients Say Area -->

<!-- Start Network Area -->
<div class="net-work-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="single-footer-widget text-white wow animate__animated animate__fadeInLeft delay-0-2s">
                    <h2>Subscribe to our news letter</h2>
                    <p>Be the first to know what is going on and what is new</p>
                    <form class="newsletter-form" data-toggle="validator">
                        <input type="email" class="form-control text-white" placeholder="Your email address" name="EMAIL" id="email" required autocomplete="off">

                        <button class="submit-btn btn-news" type="submit">
                            <i class="ri-arrow-right-line"></i>
                        </button>

                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <img src="~/images/network-shape.png" class="shape" alt="Image">
</div>
<!-- End Network Area -->


<script>
			$(document).ready(() => {
				confirmTransaction();
				GetPropertyTypes();
				GetProperties("landing");
			})
		</script>