
@{
    ViewData["Title"] = "Properties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Page Title Area -->
		<div class="page-title-area bg-9">
			<div class="container">
				<div class="page-title-content">
					<h2>Properties</h2>
					
					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>

						<li class="active">Properties</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- End Listing Area -->
		<div class="listing-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="widget-sidebar ml-15">
							<div class="sidebar-widget filter-form">
								<h3>Filter search</h3>
								<form>
									<div class="form-group">
										<input type="text" class="form-control style" placeholder="Current Location">
										<i class="ri-map-pin-2-line"></i>
									</div>
									<div class="form-group">
										<select class="form-select form-control" aria-label="Default select example">
											<option selected>All Categories</option>
											<option value="1">House</option>
											<option value="2">Hotel</option>
										</select>
									</div>
									<div class="form-group">
										<select class="form-select form-control" aria-label="Default select example">
											<option selected>All Statuses</option>
											<option value="1">House</option>
											<option value="2">Hotel</option>
										</select>
									</div>
									<div class="form-group">
										<select class="form-select form-control" aria-label="Default select example">
											<option selected>Price</option>
											<option value="1">$2000</option>
											<option value="2">$3000</option>
										</select>
									</div>
									<div class="row">
										<div class="col-lg-6 col-sm-6">
											<div class="form-group">
												<label>Bedroom</label>
												<select class="form-select form-control" aria-label="Default select example">
													<option selected>Any</option>
													<option value="1">2</option>
													<option value="2">4</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6 col-sm-6">
											<div class="form-group">
												<label>Bedrooms</label>
												<select class="form-select form-control" aria-label="Default select example">
													<option selected>Any</option>
													<option value="1">2</option>
													<option value="2">3</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6 col-sm-6">
											<div class="form-group">
												<label>Floors</label>
												<select class="form-select form-control" aria-label="Default select example">
													<option selected>Any</option>
													<option value="1">1</option>
													<option value="2">2</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6 col-sm-6">
											<div class="form-group">
												<label>Parking</label>
												<select class="form-select form-control" aria-label="Default select example">
													<option selected>Any</option>
													<option value="1">1</option>
													<option value="2">2</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6 col-sm-6">
											<div class="form-group">
												<label>Building Size</label>
												<select class="form-select form-control" aria-label="Default select example">
													<option selected>Min SF</option>
													<option value="1">1</option>
													<option value="2">2</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6 col-sm-6">
											<div class="form-group">
												<label>Building Size</label>
												<select class="form-select form-control" aria-label="Default select example">
													<option selected>Max SF</option>
													<option value="1">1</option>
													<option value="2">2</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6 col-sm-6">
											<div class="form-group">
												<label>Lot Size</label>
												<select class="form-select form-control" aria-label="Default select example">
													<option selected>Min</option>
													<option value="1">14''</option>
													<option value="2">20''</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6 col-sm-6">
											<div class="form-group">
												<label>Max</label>
												<select class="form-select form-control" aria-label="Default select example">
													<option selected>Min</option>
													<option value="1">25''</option>
													<option value="2">33''</option>
												</select>
											</div>
										</div>
									</div>
									<div class="amenities-wrap">
										<h3>Amenities</h3>
										<div class="row">
											<div class="col-lg-6 col-sm-6">
												<div class="mb-20">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="flexCheckDefault">
														<label class="form-check-label" for="flexCheckDefault">
															Parking
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="flexCheckDefault-2">
														<label class="form-check-label" for="flexCheckDefault-2">
															Refrigerator
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="flexCheckDefault-3">
														<label class="form-check-label" for="flexCheckDefault-3">
															Laundry
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="flexCheckDefault-4">
														<label class="form-check-label" for="flexCheckDefault-4">
															Window Coverings
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="flexCheckDefault-5">
														<label class="form-check-label" for="flexCheckDefault-5">
															Barbeque
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="flexCheckDefault-6">
														<label class="form-check-label" for="flexCheckDefault-6">
															Grage
														</label>
													</div>
												</div>
											</div>

											<div class="col-lg-6 col-sm-6">
												<div class="mb-20">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="flexCheckDefault-7">
														<label class="form-check-label" for="flexCheckDefault-7">
															Parking
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="flexCheckDefault-8">
														<label class="form-check-label" for="flexCheckDefault-8">
															Swimming Pool
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="flexCheckDefault-9">
														<label class="form-check-label" for="flexCheckDefault-9">
															Fitness Gym
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="flexCheckDefault-10">
														<label class="form-check-label" for="flexCheckDefault-10">
															Security Garage 
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="flexCheckDefault-11">
														<label class="form-check-label" for="flexCheckDefault-11">
															Fireplace
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="flexCheckDefault-12">
														<label class="form-check-label" for="flexCheckDefault-12">
															Basement
														</label>
													</div>
												</div>
											</div>

											<div class="col-lg-6 col-sm-6">
												<button class="default-btn">
													Save Search
												</button>
											</div>

											<div class="col-lg-6 col-sm-6">
												<button class="default-btn mt-20">
													Reset All Filters
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
	
					<div class="col-lg-8">
						<div class="list-wrap">
							<div class="mb-30">
								<div class="row align-items-center">
									<div class="col-lg-6">
										<p id="property-count"></p>
									</div>
									<div class="col-lg-6">
										<select class="form-select form-control" aria-label="Default select example">
											<option selected>All Categories</option>
											<option value="1">House</option>
											<option value="2">Hotel</option>
										</select>
									</div>
								</div>
							</div>

							<div class="row" id="properties">
								

								<div class="col-lg-12">
									<div class="pagination-area">
										<a href="#" class="next page-numbers">
											<i class="ri-arrow-left-line"></i>
										</a>
										<span class="page-numbers current" aria-current="page">1</span>
										<a href="#" class="page-numbers">2</a>
										<a href="#" class="page-numbers">3</a>
										
										<a href="#" class="next page-numbers">
											<i class="ri-arrow-right-line"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Listing Area -->

		<script>
			$(document).ready(() =>{
				GetProperties("client");
			})
		</script>

