
@{
    ViewData["Title"] = "VerifyPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Coming Soon Area -->
	<div class="coming-soon-area">
        <div id="msg"></div>
        <div class="d-table">
            <div class="d-table-cell">
                <div class="coming-soon-content">
					<h4 class="active-title">Authorization</h4>
						
                    <button type="button" class="default-btn btn-verify d-none">
							Verify
							<i class="flaticon-next"></i>
					</button>
                </div>
            </div>
		</div>
    </div>
    <!-- End Coming Soon Area -->

    <script>
        $(document).ready(() => {
            $('.btn-verify').trigger('click');
        });
    </script>

