
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<!-- Start Dashboard Area -->
		<div class="dashboard-area">
			<div class="container-fluid">
				<div class="dashboard-title-wrap">
					<div class="row align-items-center">
						<div class="col-lg-6 col-sm-6">
							<ul class="dashboard-page-title">
								<li>
									<a href="dashboard.html">
										Home 
									</a>
								</li>
		
								<li class="active">Add Property</li>
							</ul>
						</div>
						<div class="col-lg-6 col-sm-6">
							
						</div>
					</div>
				</div>

				<div class="add-listing">
					<form class="basic-informations">
						<h3>Basic Informations</h3>

						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<label>Property Name</label>
									<input type="text" class="form-control" id="name">
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<label>Property Type</label>
									<input type="text" class="form-control" id="property"> 
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<label>Unit Price</label>
									<input type="text" class="form-control" id="price">
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<label>Category</label>
									<input type="email" class="form-control" id="status">
								</div>
							</div>

							<h3 class="mt-30">Location / Contacts</h3>

							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<label>Address</label>
									<input type="text" class="form-control" id="location">
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<label>Description</label>
									<textarea name="description" class="form-control" cols="3" rows="6" id="description"></textarea>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<label>Logitude</label>
									<input type="text" class="form-control" id="logitude">
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<label>Latitude</label>
									<input type="text" class="form-control" id="latitude">
								</div>
							</div>
							

							
							<div class="col-lg-12">
								<div class="form-group">
									<label>Property Images</label>
									<div class="information d-flex align-items-center">
										<div class="file-upload-account-info">
											<input type="file" name="file" id="file-2" class="inputfile">
											<label class="upload">
												<i class="ri-image-add-line"></i>
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="features-content">
								<h3>Features</h3>
								<div class="row">
									<div class="col-lg-3 col-sm-6">
										<ul>
											<li>
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="exampleCheck1">
													<label class="form-check-label" for="exampleCheck1">Bathroom</label>
												</div>
											</li>
											<li>
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="exampleCheck1">
													<label class="form-check-label" for="exampleCheck1">Toilet</label>
												</div>
											</li>
											<li>
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="exampleCheck1">
													<label class="form-check-label" for="exampleCheck1">Floor Level </label>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-lg-3 col-sm-6">
										<ul>
											<li>
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="exampleCheck1">
													<label class="form-check-label" for="exampleCheck1">Bed Room</label>
												</div>
											</li>
											<li>
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="exampleCheck1">
													<label class="form-check-label" for="exampleCheck1">Land Size</label>
												</div>
											</li>
											<li>
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="exampleCheck1">
													<label class="form-check-label" for="exampleCheck1">Air Conditioned </label>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-lg-3 col-sm-6">
										<ul>
											<li>
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="exampleCheck1">
													<label class="form-check-label" for="exampleCheck1">Refrigerator</label>
												</div>
											</li>
											<li>
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="exampleCheck1">
													<label class="form-check-label" for="exampleCheck1">Parking</label>
												</div>
											</li>
											<li>
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="exampleCheck1">
													<label class="form-check-label" for="exampleCheck1">Swimming Pool </label>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-lg-3 col-sm-6">
										<ul>
											<li>
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="exampleCheck1">
													<label class="form-check-label" for="exampleCheck1">Laundry</label>
												</div>  
											</li>
											<li>
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="exampleCheck1">
													<label class="form-check-label" for="exampleCheck1">Gym</label>
												</div>
											</li>
											<li>
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="exampleCheck1">
													<label class="form-check-label" for="exampleCheck1">Security Guard</label>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-lg-3 col-sm-6">
										<ul>
											<li>
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="exampleCheck1">
													<label class="form-check-label" for="exampleCheck1">Fire place</label>
												</div>
											</li>
											<li>
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="exampleCheck1">
													<label class="form-check-label" for="exampleCheck1">Basement</label>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<button type="submit" class="default-btn">Add More</button>
							</div>
						</div>
					</form>

					
				</div>
			</div>
		</div>
		<!-- End Dashboard Area -->

