
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<script src="https://cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>
<!-- Start Dashboard Area -->
<div class="dashboard-area">
	<div class="container-fluid">
		<div class="dashboard-title-wrap">
			<div class="row align-items-center">
				<div class="col-lg-6 col-sm-6">
					<ul class="dashboard-page-title">
						<li>
							<a href="/dashboard">
								Home
							</a>
						</li>
						<li>
							<a asp-controller="Admin" asp-action="Blogs">
								Blogs
							</a>
						</li>

						<li class="active">Edit Blog</li>
					</ul>
				</div>
				<div class="col-lg-6 col-sm-6">
				</div>
			</div>
		</div>

		<div class="add-listing">
			
			<div id="msg"></div>
			<form class="decline_form" id="blog-form">
				<div class="row">
					<div class="col-md-11 mx-auto">
						<h3>Edit blog post</h3>
						<div class="form-group mt-2">
							<label>Blog Title</label>
							<input type="text" class="form-control" style="border: 1px solid #babec0;" name="title" id="title" required>
						</div>
					</div>
				
					<div class="col-md-11 mx-auto">
						<div class="form-group mb-3">
							<label>Header Image</label>
							<div class="row">
								<div class="col-md-9">
									<img src="" alt="Header Image" width="700" height="200" id="imgPreview" />
									<input type="file" class="form-control d-none" style="border: 1px solid #babec0;" id="blogImage">
								</div>
								<div class="col-md-3">
									<a href="javascript:void(0)" class="default-btn btn-changeImg mt-3">Change header image</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-11 mx-auto">
						<div class="form-group">
							<label>Blog Content</label>
							<textarea id="editor1" rows="5" cols="30" name="editor1"></textarea>
						</div>
						<button type="button" class="default-btn btn-updateBlog mt-5">
							Update
						</button>
					</div>
				</div>
				
			</form>
		</div>
	</div>
</div>
<!-- End Dashboard Area -->
<script>
	CKEDITOR.replace('editor1');
	$(() => {
		editBlog();
	})
</script>

