
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Page Title Area -->
		<div class="page-title-area bg-5">
			<div class="container">
				<div class="page-title-content">
					<h2>My Account</h2>
					
					<ul>
						<li>
							<a href="/">
								Home 
							</a>
						</li>

						<li class="active">My Account</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- Start User Area -->
		<section class="user-area ptb-100">

			<div class="container">
				
				<div class="row">
					<div class="col-md-12" id="msg">
						
					</div>
				</div>
				<div class="row">
					
					<div class="col-lg-6">
						<div class="user-form-content log-in">
							<h3>Sign in</h3>
							
							<form class="user-form" id="login-form">
								<div class="row">
									<div class="col-12">
										<div class="form-group">
											<label>Email</label>
											<input class="form-control" type="text" name="name" id="logEmail" required>
										</div>
									</div>
		
									<div class="col-12">
										<div class="form-group">
											<label>Password</label>
											<input class="form-control" type="password" name="password" id="logPassword" required>
											<input type="hidden" class="catch_me" value="">
										</div>
									</div>
		
									<div class="col-12">
										<a href="#" class="forgot-login">Forgot your password?</a>
									</div>
									
									<div class="col-12">
										<button class="default-btn btn-adminlogin" type="button">
											Login
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>

					
				</div>
			</div>
		</section>
		<!-- End User Area -->

